* {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	background-color: #EDF3F9;
	margin: auto;
}

header {
	position: fixed;
	width: 100%;
	height: 42px;
	margin: auto;
	padding: 10px 15px;
	box-sizing: border-box;
	overflow: hidden;

	background-color: #8A8888;
}

header > .title-header {
	float: left;

	font-size: 18px;
	color: white;
}

header > a.logout-header {
	margin-top: 5px;
	float: right;

	font-size: 12px;
	color: white;

	text-decoration: none;
}

.wrapper-login {
	width: 400px;
	margin-top: 200px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);

	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #bdbdbd;
}

.wrapper-login h3 {
	text-align: center;
}

.wrapper-login .box-input {
	margin-bottom: 10px;
}

.wrapper-login label {
	font-size: 13px;
}

.wrapper-login input[type="text"], .wrapper-login input[type="password"] {
	display: block;
	padding: 10px;
	width: calc(100% - 22px);

	border: 1px solid #c3c3c3;
	background-color: #f9f9f9;
	border-radius: 5px;
}

.wrapper-login input[type="submit"] {
	background-color: #214288;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	max-width: 150px;
	margin: auto;
}

.burger-button {
	position: fixed;
	left: 20px;
	top: 50px;
	cursor: pointer;
	z-index: 999999;
}

nav {
	transform: translateX(-250px);
	transition: transform .8s cubic-bezier(1, 0, 0, 1);
	width: 250px;
	height: 100vh;
	top: 40px;
	margin: auto;
	padding-top: 20px;
	float: left;
	box-sizing: border-box;
	position: fixed;

	background-color: #214288;
	z-index: 999;
}

nav > .nav-wrapper {
	overflow: auto;
	height: calc(100% - 32px);
	margin-top: 10px;
}

nav > .nav-wrapper > ul {
	margin: 0;
	padding: 0;
}

nav > .nav-wrapper > ul > li {
	margin: 0;
	padding: 0;
	list-style: none;

	border-top: 1px solid #2951A4;
	border-bottom: 1px solid #1B3771;
}

nav > .nav-wrapper > ul > li > a {
	display: block;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;


	font-size: 15px;
	color: white;
	text-decoration: none;
}

nav > .nav-wrapper > ul > li:first-child {
	border-top: none;
}

nav > .nav-wrapper > ul > li:last-child {
	border-bottom: 1px solid #2951A4;
}

nav > .nav-wrapper > ul > li:last-child::after {
	content: "";
	display: block;
	height: 1px;
	background-color: #1B3771;
}

nav > .nav-wrapper > ul > li > ul {
	margin: 0;
	padding: 0;

	display: none;
}

nav > .nav-wrapper > ul > li > ul > li {
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #395796;
}

nav > .nav-wrapper > ul > li > ul > li > a {
	display: block;
	padding: 5px 10px 5px 40px;

	font-size: 15px;
	text-decoration: none;
	color: white;
}

nav > .nav-wrapper > ul > li > ul > li > a::before {
	/*	content: "+";
	margin-right: 5px;*/
}

nav > .nav-wrapper > ul > li.sub > a::after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 10px;
	margin-top: 5px;
	float: right;
	text-decoration: none;
}

nav > .nav-wrapper > ul > li.sub > a.inactive::after {
	content: "\f054";
}

nav > .nav-wrapper ul > li.sub > a.active::after {
	content: "\f078";
}

main {
	width: 100%;
	height: (100vh - 80px);
	margin-top: 80px;
	float: left;
	transition: all 0.4s ease;
}

.wrapper-charts {
	width: 100%;
	max-width: 1200px;
	padding: 20px 20px;
	box-sizing: border-box;
	display: table;

}

.wrapper-charts .box-4 {
	width: 100%;
	display: inline-block;
	padding: 10px 0;
	box-sizing: border-box;
	vertical-align: top;
}

.wrapper-charts .box-3 {
	width: 100%;
	display: inline-block;
	padding: 10px 0;
	box-sizing: border-box;
	vertical-align: top;
}

.wrapper-charts .box-2 {
	width: 100%;
	display: inline-block;
	padding: 10px 0;
	box-sizing: border-box;
	vertical-align: top;
}

.wrapper-charts .box-4 .wrapper-box-content {
	padding: 10px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: -3px 3px 0px #a6abae;
}

.wrapper-charts .box-3 .wrapper-box-content {
	padding: 10px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: -3px 3px 0px #a6abae;
}

.wrapper-charts .box-2 .wrapper-box-content {
	padding: 10px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: -3px 3px 0px #a6abae;
}

.wrapper-charts .box-3 .wrapper-box-content > .text-box {
	font-size: 35px;
	font-weight: 400;
}

.wrapper-charts .box-2 .wrapper-box-content  > .text-box {
	font-size: 35px;
	font-weight: 400;
}

.wrapper-charts .box-3 .wrapper-box-content > h3.title-box {
	color: #5d5d5d;
	margin-top: 0;
	font-weight: 400;
}

.wrapper-charts .box-2 .wrapper-box-content  > h3.title-box {
	color: #5d5d5d;
	margin-top: 0;
	font-weight: 400;
}

.wrapper-charts .box-3 .wrapper-box-content > .green-text {
	color: #1ce8bb;
}

.wrapper-charts .box-3 .wrapper-box-content  > .blue-text {
	color: #82b5ea;
}

.wrapper-charts .box-2 .wrapper-box-content > .green-text {
	color: #1ce8bb;
}

.wrapper-charts .box-2 .wrapper-box-content  > .blue-text {
	color: #82b5ea;
}

.wrapper-charts .box-3 .wrapper-box-content  > small {
	font-size: 10px;
	color: #a7a7a7;
}

.wrapper-charts .box-2 .wrapper-box-content > small {
	font-size: 10px;
	color: #a7a7a7;
}

.wrapper-chart-index {
	display: table;
	width: 100%;
}

.title-chart {
	width: 90px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;

	font-size: 12px;
	color: #5d5d5d;
}

.wrapper-chart-content {
	width: calc(100% - 90px);
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.medition-chart {
	position: relative;
}
.line-chart {
	height: 10px;
	background-color: #82b5ea;

	display: inline-block;
	position: absolute;
}

.text-percent {
	width: 15px;
	height: 15px;
	padding: 5px;
	border-radius: 50%;
	background-color: #1ce8bd;
	position: absolute;
	left: calc(10% - 10px);
	top: -8px;

	display: inline-block;
	font-size: 12px;
	color: white;

	text-align: center;
}

.medition-chart-main {
	display: table;
	width: 100%;
	margin-top: 50px;
}

.number-chart {
	display: inline-block;
	width: 9.09%;
	font-size: 10px;
}

.table-main-2 {
	display: table;
	width: 100%;
	box-sizing: border-box;
}

.table-main-2 .col-main-2 {
	display: inline-block;
	width: 50%;
	padding: 0;
	box-sizing: border-box;

	font-size: 13px;
	color: #5d5d5d;
}

.wrapper-total-percent {
	display: table;
	width: 100%;
	margin-top: 10px;
	border-top: 1px solid black;
}

.wrapper-total-percent span {
	font-size: 13px;
	font-weight: bold;
}

.wrapper-total-percent h2 {
	color: red;
}

table.default {
	width: 100%;
	height: auto;
	margin: auto;
	overflow: hidden;
	border-collapse: collapse;
}

table.default th, table.default td {
	border-collapse: collapse;
}

table.default th, table.default td {
    padding: 5px;
}

table.default > thead > tr {
	text-align: left;
	font-size: 12px;
}

table.default > tbody > tr td {
	font-size: 11px;
}

table.default > tbody > tr td.td-green {
	color: #1ce8bb;
}

table.default > tbody > tr td.td-blue {
	color: #395896;
}

table.default > tbody > tr td.td-red {
	color: #ef4056;
}

table.default > tbody > tr:last-child, table.default > tbody > tr:first-child {
	border-top: 1px solid black;
}

table.default > tbody > tr:last-child td {
	font-weight: bold;
}


@media only screen and (min-width: 700px) {
	.burger-button {
		display: none;
	}

	nav {
		transform: translateX(0px) !important;
	}

	main {
		width: calc(100% - 250px);
		height: 100vh;
		margin-left: 250px;
		margin-top: 0;
	}

	.title-chart {
		width: 150px;
		font-size: 13px;
	}

	.wrapper-charts {
		padding: 50px 20px;
	}

	.wrapper-chart-content {
		width: calc(100% - 150px);
	}

	.wrapper-charts .box-3 {
		padding: 10px 20px 10px 0;
	}

	.wrapper-charts .box-2 {
		padding: 10px 20px 10px 0;
	}
}

@media only screen and (min-width: 900px) {

	.wrapper-charts .box-3 {
		width: 50%;
		display: inline-block;
		padding: 10px 20px 10px 0;
		box-sizing: border-box;
		vertical-align: top;
	}

	.wrapper-charts .box-2 {
		width: 100%;
		display: inline-block;
		padding: 10px 20px 10px 0;
		box-sizing: border-box;
		vertical-align: top;
	}

}

@media only screen and (min-width: 1200px) {

	.wrapper-charts .box-3 {
		width: 33.3333%;
		display: inline-block;
		padding: 10px 20px 10px 0;
		box-sizing: border-box;
		vertical-align: top;
	}

	.wrapper-charts .box-2 {
		width: 66.6667%;
		display: inline-block;
		padding: 10px 20px 10px 0;
		box-sizing: border-box;
		vertical-align: top;
	}

}
